/* PTSans Regular */
@font-face {
  font-family: 'PT Sans';
  src: url('../../fonts/PTSans-Regular/PTSans-Regular.eot'), url('../../fonts/PTSans-Regular/PTSans-Regular.ttf') format('trutype'), url('../../fonts/PTSans-Regular/PTSans-Regular.woff') format('woff'), url(../../fonts/PTSans-Regular/PTSans-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../../fonts/PTSans-Bold/PTSans-Bold.eot'), url('../../fonts/PTSans-Bold/PTSans-Bold.ttf') format('trutype'), url('../../fonts/PTSans-Bold/PTSans-Bold.woff') format('woff'), url(../../fonts/PTSans-Bold/PTSans-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'PT Sans', sans-serif;
  overflow-x: hidden;
}
input {
  outline: none;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
.page-header {
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  height: 56px;
}
.page-header__wrapper {
  display: flex;
  position: relative;
  justify-content: flex-end;
  width: 100%;
}
.page-header__logo {
  position: absolute;
  left: 50%;
  margin-left: -51px;
  top: 0px;
  z-index: 1000;
}
.page-header__nav {
  opacity: 0;
  position: absolute;
  top: 60px;
  left: 0px;
  transition: 0.4s linear;
}
.page-header__burger {
  order: 1;
  margin-right: 20px;
  margin-top: 30px;
}
.burger-item {
  transition: 0.1s;
  cursor: pointer;
}
.burger-item--closed {
  display: flex;
  width: 23px;
  height: 4px;
  position: relative;
  background-color: #81b3d2;
  transition: 0.1s linear;
}
.burger-item--closed::after {
  display: block;
  content: "";
  position: absolute;
  top: 7px;
  left: 0px;
  width: 23px;
  height: 4px;
  background-color: #81b3d2;
}
.burger-item--closed::before {
  display: block;
  content: "";
  position: absolute;
  top: -7px;
  left: 0px;
  width: 23px;
  height: 4px;
  background-color: #81b3d2;
}
.burger-item--opened {
  display: flex;
  width: 23px;
  height: 4px;
  position: relative;
  background-color: #81b3d2;
  transform: rotate(-45deg);
  border-radius: 2px;
  transition: 0.1s linear;
}
.burger-item--opened::after {
  content: "";
  display: block;
  width: 23px;
  height: 4px;
  position: absolute;
  background-color: #81b3d2;
  transform: rotate(90deg);
  border-radius: 2px;
}
.nav-list {
  padding: 0;
  display: flex;
  flex-direction: column;
}
.nav-list__item {
  text-align: center;
  width: 100vw;
  padding: 21px 0px;
  font-size: 18px;
  background-color: #81b3d2;
  border-bottom: 2px solid #678fa8;
  border-top: 2px solid #9ac2db;
  transition: 0.05s linear;
}
.nav-list__item:last-child {
  border-bottom: none;
}
.nav-list__item:first-child {
  border-top: none;
}
.nav-list__item:hover {
  background-color: #669ec0;
}
.nav-list__item a {
  transition: 0.1s linear;
  color: #fff;
}
.nav-list__item a:hover {
  color: #81b3d2;
}
@media (min-width: 768px) {
  .page-header__burger {
    display: none;
  }
  .page-header__wrapper {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
  }
  .page-header__nav {
    display: block;
    position: static;
    order: 1;
    float: left;
    width: 100%;
    opacity: 1 !important;
  }
  .nav-list {
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-list__item {
    background-color: transparent;
    font-size: 14px;
    width: 100px;
    border: none;
  }
  .nav-list__item--right {
    text-align: right;
  }
  .nav-list__item--left {
    text-align: left;
  }
  .nav-list__item:hover {
    background-color: transparent;
  }
  .nav-list__item a {
    color: black;
    font-size: 14px;
  }
}
@media (min-width: 1280px) {
  .page-header__wrapper {
    max-width: 1200px;
  }
  .page-header__logo {
    margin-left: -93px;
  }
}
.intro {
  background-image: url("../../img/intro/bg/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 90px 0px;
}
.intro__title {
  text-align: center;
}
@media (min-width: 768px) {
  .intro {
    background-image: url("../../img/intro/bg/back-tablet.jpg");
  }
}
@media (min-width: 1280px) {
  .intro {
    background-image: url("../../img/intro/bg/back-desktop.jpg");
  }
}
