/* PTSans Regular */
@font-face {
  font-family: 'PT Sans';
  src: url('../../fonts/PTSans-Regular/PTSans-Regular.eot'), url('../../fonts/PTSans-Regular/PTSans-Regular.ttf') format('trutype'), url('../../fonts/PTSans-Regular/PTSans-Regular.woff') format('woff'), url(../../fonts/PTSans-Regular/PTSans-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../../fonts/PTSans-Bold/PTSans-Bold.eot'), url('../../fonts/PTSans-Bold/PTSans-Bold.ttf') format('trutype'), url('../../fonts/PTSans-Bold/PTSans-Bold.woff') format('woff'), url(../../fonts/PTSans-Bold/PTSans-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'PT Sans', sans-serif;
  overflow-x: hidden;
}
input {
  outline: none;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
.page-header {
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  height: 56px;
}
.page-header__wrapper {
  display: flex;
  position: relative;
  justify-content: flex-end;
  width: 100%;
}
.page-header__logo {
  position: absolute;
  left: 50%;
  margin-left: -51px;
  top: 0px;
  z-index: 1000;
}
.page-header__nav {
  opacity: 0;
  position: absolute;
  top: 57px;
  left: 0px;
  transition: 0.3s linear;
  z-index: -10;
}
.page-header__burger {
  order: 1;
  margin-right: 20px;
  margin-top: 30px;
}
.burger-item {
  transition: 0.1s;
  cursor: pointer;
}
.burger-item--closed {
  display: flex;
  width: 23px;
  height: 4px;
  position: relative;
  background-color: #81b3d2;
  transition: 0.1s linear;
}
.burger-item--closed::after {
  display: block;
  content: "";
  position: absolute;
  top: 7px;
  left: 0px;
  width: 23px;
  height: 4px;
  background-color: #81b3d2;
}
.burger-item--closed::before {
  display: block;
  content: "";
  position: absolute;
  top: -7px;
  left: 0px;
  width: 23px;
  height: 4px;
  background-color: #81b3d2;
}
.burger-item--opened {
  display: flex;
  width: 23px;
  height: 4px;
  position: relative;
  background-color: #81b3d2;
  transform: rotate(-45deg);
  border-radius: 2px;
  transition: 0.1s linear;
}
.burger-item--opened::after {
  content: "";
  display: block;
  width: 23px;
  height: 4px;
  position: absolute;
  background-color: #81b3d2;
  transform: rotate(90deg);
  border-radius: 2px;
}
.nav-list {
  padding: 0;
  display: flex;
  flex-direction: column;
}
.nav-list__item {
  text-align: center;
  width: 100vw;
  padding: 21px 0px;
  font-size: 18px;
  background-color: #81b3d2;
  border-bottom: 2px solid #678fa8;
  border-top: 2px solid #9ac2db;
  transition: 0.05s linear;
}
.nav-list__item:last-child {
  border-bottom: none;
}
.nav-list__item:first-child {
  border-top: none;
}
.nav-list__item:hover {
  background-color: #669ec0;
}
.nav-list__item a {
  transition: 0.1s linear;
  color: #fff;
}
.nav-list__item a:hover {
  color: #81b3d2;
}
@media (min-width: 768px) {
  .page-header__burger {
    display: none;
  }
  .page-header__wrapper {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
  }
  .page-header__nav {
    display: block;
    position: static;
    order: 1;
    float: left;
    width: 100%;
    opacity: 1 !important;
  }
  .nav-list {
    flex-direction: row;
    justify-content: space-around;
  }
  .nav-list__item {
    background-color: transparent;
    font-size: 14px;
    width: 100px;
    border: none;
  }
  .nav-list__item--right {
    text-align: right;
  }
  .nav-list__item--left {
    text-align: left;
  }
  .nav-list__item:hover {
    background-color: transparent;
  }
  .nav-list__item a {
    color: black;
    font-size: 14px;
  }
}
@media (min-width: 1280px) {
  .page-header__wrapper {
    max-width: 1200px;
  }
  .page-header__logo {
    margin-left: -93px;
  }
}
.footer {
  padding: 35px 0px;
}
.footer__hashtag {
  text-align: center;
  font-size: 21px;
  margin-bottom: 40px;
}
.footer svg {
  width: 20px;
  height: 20px;
  display: inline-block;
}
.footer__social {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.social__icon {
  background-color: #81b3d2;
  margin-left: 6px;
  padding: 15px;
  transition: 0.1s linear;
  cursor: pointer;
}
.social__icon--twitter {
  margin-left: 0px;
}
.social__icon:hover {
  background-color: #669ec0;
}
.footer__dev {
  text-align: center;
}
.footer__dev > p {
  font-weight: 700;
}
.beep {
  font-weight: 400;
  background-color: #81b3d2;
  color: white;
  padding: 2px 4px;
  border-radius: 2px;
  transition: 0.2s linear;
  border: 2px solid transparent;
}
.beep:hover {
  background-color: transparent;
  color: black;
  border-color: #81b3d2;
}
@media (min-width: 768px) {
  .footer__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footer__hashtag {
    margin-bottom: 0px;
  }
  .footer__social {
    margin-bottom: 0px;
  }
}
.intro {
  background-image: url("../../img/photo/intro/back-mobile.jpg");
  padding-top: 50px;
  padding-bottom: 66px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.intro__title {
  text-align: center;
}
.intro__bottom img {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
@media (min-width: 768px) {
  .intro {
    background-image: url(../../img/photo/intro/back-tablet.jpg);
    padding-top: 95px;
    padding-bottom: 117px;
  }
}
@media (min-width: 768px) {
  .intro {
    background-image: url(../../img/photo/intro/back-desktop.jpg);
    padding-top: 101px;
    padding-bottom: 119px;
  }
}
.main {
  text-transform: uppercase;
}
.main__intro {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 33px;
  max-width: 300px;
  margin: 0 auto;
}
.main__intro__title {
  margin-bottom: 25px;
}
.main__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 280px;
}
.post__img {
  margin-bottom: 20px;
}
.post {
  padding: 22px 0;
  position: relative;
}
.post__title {
  margin-bottom: 10px;
}
.post__author {
  text-transform: initial;
  margin-bottom: 15px;
}
.post__likes {
  display: flex;
  width: 70px;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .main__intro {
    max-width: 480px;
  }
  .main__wrapper {
    max-width: 648px;
  }
  .post {
    padding: 0px;
    width: 50%;
  }
  .post--main {
    width: 100%;
  }
  .post__img {
    margin-bottom: 0px;
  }
  .post__info {
    padding: 20px 30px 22px 17px;
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    justify-content: space-between;
  }
  .post__likes {
    width: auto;
  }
  .post__likes h3 {
    margin-left: 6px;
  }
}
@media (min-width: 1280px) {
  .main__wrapper {
    max-width: 1200px;
  }
  .post {
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 33.3333%;
    height: 268px;
  }
  .post--main {
    width: 100%;
    height: auto;
    height: 399px;
  }
  .post__img img {
    height: 100%;
  }
  .post__info {
    position: absolute;
    bottom: 0%;
    left: 0px;
    width: 100%;
    color: #fff;
    fill: #fff;
    background-color: rgba(0, 0, 0, 0.37);
    padding: 18px 30px 15px 20px;
  }
  .post__img {
    margin: 0px;
  }
}
.video__intro {
  text-transform: uppercase;
  text-align: center;
  max-width: 250px;
  margin: 0 auto;
  margin-top: 35px;
}
.video__title {
  margin-bottom: 15px;
}
.video__description {
  margin-bottom: 40px;
}
.video__inner {
  width: 320px;
  height: 201px;
  margin: 0 auto;
}
.video__inner iframe {
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .video__intro {
    max-width: 450px;
  }
  .video__inner {
    width: 648px;
    height: 500px;
    margin-bottom: 55px;
  }
}
@media (min-width: 1280px) {
  .video__inner {
    width: 800px;
    height: 500px;
    margin-bottom: 85px;
  }
}
@media (min-width: 1280px) {
  html {
    background-color: #f2f2f2;
  }
  body {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
  }
}
