// main: ../../css/index.less

.features{
    text-transform: uppercase;
}

.features__title h3{
    padding-top: 46px;
    padding-bottom: 40px;
    line-height: 26px;
    font-weight: 700;
    max-width: 220px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
}

.features__description{
    color: #696969;
    max-width: 244px;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
}

.features__block{
    &--blue{
        background-color: #81b3d2;
        color: #fff;
    }
    &--grey{
        background-color: #eeeeee;
    }
}

.features__block--img img{
    width: 100%;
    height: auto;
}

.features__block--icon{
    svg{
        width: 40px;
        height: 40px;
    }
}

.features__intro{
    position: relative;
    padding-bottom: 46px;
}

.mobile_triangle{
    width: 100vw;
    position: absolute;
    bottom: -9%;
    left: 0;
}

.features__block__title h3{
    text-align: center;
    padding-top: 45px;
    position: relative;
    margin-bottom: 20px;
}

.features__block__num{
    text-align: center;
    margin-bottom: 20px;
}

.features__block__description{
    text-align: center;
    max-width: 220px;
    margin: 0 auto;
    padding-bottom: 45px;
    &--border{
    position: relative;
        &::after{
            content: "";
            width: 280px;
            height: 2px;
            background-color: #d6d6d6;
            position: absolute;
            left: -13%;
            bottom: 0%;
        }
    }
}

.features__svg{
    max-width: 280px;
    margin: 0 auto;
    padding-top: 25px;
}

.features__block__top{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.features__block__top h4{
    margin-top: 5px;
    margin-left: 10px;
}

.features__block__bottom{
    text-align: left;
    max-width: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-left: 9px;
}