// main: ../../css/index.less

.map{
    text-transform: uppercase;
    padding-top: 30px;
}

.map__title{
    text-align: center;
    margin-bottom: 32px;
}

.map__description{
    max-width: 260px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 42px;
}

.find-btn{
    display: block;
    color: white;
    font-weight: 700;
    text-align: center;
    padding: 20px 0px;
    background-color: #81b3d2;
    font-size: 21px;
    width: 280px;
    margin: 0 auto;
    margin-bottom: 49px;
    transition: 0.1s linear;
    cursor: pointer;
    &:hover{
        background-color: #669ec0;
    }
}

.map__img{
    width: 100%;
    position: relative;
}

.map__img  img{
    width: 100%;
    height: auto;
}

.map__img__marker img{
    width: 27px !important;
    height: 27px !important;
    position: absolute;
    top: 45%;
    left: 46%;
}

@media(min-width:@tablet-width){
    .map__description{
        max-width: 430px;
    }

    .find-btn{
        width: 458px;
    }

    .map__img__marker img{
        top: 46.5%;
        left: 47.5%;
    }
}

@media (min-width:@desktop-width){
    .map__img__marker img{
        top: 46%;
        left: 48.8%;
    }
}

