// main: ../../css/form.less

.page-main{
    text-transform: uppercase;
}

.main__intro{
    max-width: 280px;
    margin:  0 auto;
}

.intro__title{
    margin-top: 40px;
    margin-bottom: 20px;
}

.intro__description{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

hr{
    border-top: 1px solid #e5e5e5;
    margin-bottom: 20px;
}

.main__input__title{
    text-align: center;
    margin-bottom: 25px;
    &--radio{
        margin-bottom: 40px;
    }
    &--checkbox{
        margin-bottom: 50px;
    }
}

.input__name{
    // padding: 0px 6.25%;
    display: flex;
    align-items: center;
    width: 100%;
    
    justify-content: space-around;
    max-width: 320px;
    margin: 0 auto;
}

.input__name label{
    font-size: 14px;
}

.input__name input{
    font-weight: 700;
    max-width: 230px;
    border: none;
    background-color: #f2f2f2;
    height: 57px;
    padding: 0px 20px;
    margin-bottom: 20px;
}

.input__contact{
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 280px;
    margin: 0 auto;
}

.input__contact svg{
    width: 20px;
    height: 20px;
}

.input__contact label{
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 14px;
}

.input__contact input{
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    width: 100%;
    // max-width: 280px;
    margin: 0 auto;
    margin-bottom: 10px;
    border: none;
    background-color: #f2f2f2;
    height: 57px;
    padding: 0px 20px;
    &::placeholder{
        font-weight: 700;
        color: black;
    }
}

.input__contact i{
    position: absolute;
    top: 30%;
    left: 81%;
    padding: 16px;
    background-color: #e6e6e6;
}

.main__input--radio{
    text-align: center;
}

.main__input--contact{
    padding-bottom: 15px;
}

.input__radio{
    margin-bottom: 50px;
}

input[type="radio"] + label{ 
    text-transform: initial;
    font-weight: 700;
    font-size: 18px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    &::before{
        content: "";
        display: inline-block;
        height: 56px;
        width: 56px;
        background-color: #f2f2f2;
        border-radius: 50%;
        position: absolute;
        top: -17px;
        left: -100px;
        transition: 0.1s linear;
    }

    &::after{
        content: "";
        display: inline-block;
        height: 22px;
        width: 22px;
        border-radius: 50%;
        background-color: #333333;
        position: absolute;
        top: 0px;
        left: -83px;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
}

input[type="radio"]{
    position: absolute;
    visibility: hidden;
}

input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
input[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.positive{
    margin-right: 10px;
}

.input__checkbox{
    max-width: 280px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.input__checkbox input{
    margin-right: 90px;
    opacity: 0;
}

.input__checkbox label{
    font-weight: 700;
    text-transform: initial;
    font-size: 18px;
    position: relative;
    display: inline-block;
    &::before{
        content: "";
        display: inline-block;
        width: 56px;
        height: 56px;
        background-color: #f2f2f2;
        border-radius: 5px;
        position: absolute;
        top: -14px;
        left: -99px;
    }

    &::after{
        content: "";
        display: inline-block;
        position: absolute;
        height: 16px;
        width: 24px;
        border-left: 3px solid;
        border-bottom: 3px solid;
        border-radius: 2px;
        top: 0px;
        left: -82px;
        transition: 0.5s ease-in-out;
    }
}

input[type="checkbox"] + label::after{
    opacity: 0;
    transform: scale(0);
    transform: rotate(45deg);
}

input[type="checkbox"]:checked + label::after{
    opacity: 1;
    transform: scale(1);
    transform: rotate(-45deg);
}

.input__textarea{
    max-width: 280px;
    margin: 0 auto;
}

textarea{
    width: 100%;
    height: 160px;
    padding: 20px 20px;
    border: none;
    outline: none;
    resize: none;
    background-color: #f2f2f2;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 50px;
    &::placeholder{
        font-family: 'PT Sans', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        color: black;
        resize: none;
    }
}

.visually_shown{
    display: none;
}

.send__button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 280px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.send-btn{
    font-family: 'PT Sans', sans-serif;
    border: none;
    background-color: #81b3d2;
    text-transform: uppercase;
    color: white;
    font-size: 21px;
    font-weight: 700;
    padding: 18px 0px;
    transition: 0.2s linear;
    cursor: pointer;
    &:hover{
        background-color: #669ec0;
    }
}

@media(min-width:@tablet-width){

    .main__intro{
        max-width: 440px;
        margin: 0 auto;
        margin-bottom: 80px;
    }

    .visually_hidden{
        display: none;
    }

    .main__inner{
        display: flex;
        flex-wrap: wrap;
        max-width: @tablet-wrapper;
        margin: 0 auto;
    }

    .main__input{
        border-top: 1px solid #dbdbdb;
        margin-bottom: 20px;
        &--name{
            border-top: none;
            width: 50%;
            order: 1;
        }

        &--radio{
            border-top: none;
            width: 50%;
            order: 2;
        }

        &--contact{
            width: 100%;
            order: 3;
        }

        &--checkbox{
            width: 100%;
            order: 4;
        }

        &--textarea{
            width: 100%;
            order: 5; 
        }
    }

    .input__contact{
        max-width: @tablet-wrapper;
    }

    .input__contact i{
        left: 92%;
    }

    .main__input__title{
        background-color: #fff;
        padding: 0px 20px;
        width: 300px;
        margin: 0 auto;
        margin-top: -10px;
        margin-bottom: 30px;
        &--radio{
            margin-bottom: 50px;
        }

    }

    .input__checkbox__inner{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
    }

    .input__checkbox{
        width: 50%;
        margin-bottom: 60px;
        margin-left: 43px;
    }

    .input__textarea{
        width: 100%;
    }

    .visually_shown{
        display: block;
    }

    .send__button{
        flex-direction: row;
        min-width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .send-btn{
        width: 324px;
    }
}

@media (min-width: @desktop-width){

    .main__intro{
        margin-top: 80px;
    }

    .main__inner{
        max-width: 960px;
    }

    .main__input__title--radio{
        margin-bottom: 53px;
    }

    .input__radio{
        margin-bottom: 56px;
    }

    .input__name{
        max-width: 400px;
        justify-content: space-evenly;
    }

    .input__contact__inner{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 40px 0px;
    }

    .input__checkbox__inner{
        padding: 40px 0px;
    }

    .input__contact{
        width: 50%;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        max-width: 400px;
    }

    .input__contact input{
        max-width: 320px;
    }

    .input__contact i{
        left: 87%;
        top: 0%;
    }

    .main__input{
        border-top: 1px solid #dbdbdb;
        margin-bottom: 20px;
        &--name{
            border-top: none;
            width: 50%;
            order: 2;
        }

        &--radio{
            border-top: none;
            width: 50%;
            order: 1;
        }
    }

    .input__checkbox{
        width: 25%;
        margin-left: 0px;
        margin-bottom: 32px;
    }

    .input__checkbox label{
        &::before{
            left: -80px;
        }

        &::after{
            left: -65px;
        }
    }

    .input__textarea{
        max-width: 960px;
    }

    .send-btn{
        width: 480px;
    }
}