//main: ../../css/photo.less
.main{
    text-transform: uppercase;
}

.main__intro{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 33px;
    max-width: 300px;
    margin: 0 auto;
}

.main__intro__title{
    margin-bottom: 25px;
}

.main__wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 280px;
}

.post__img{
    margin-bottom: 20px;
}

.post{
    padding: 22px 0;
    position: relative;
}

.post__title{
    margin-bottom: 10px;
}

.post__author{
    text-transform: initial;
    margin-bottom: 15px;
}

.post__likes{
    display: flex;
    width: 70px;
    justify-content: space-between;
}


